lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

.DS_Store

/.git
/.gitignore
/.kipignore
/*.html
/test.js
/test
/benchmark
/test.gh
/stacks.svg
/test.js